NATS_SERVERS=nats://bears:4222,nats://bears:4223,nats://bears:4224
MACHINE_ID=PLACEHOLDER

# Livestream config. Set VIDEO_DEVICE_* to available /dev/video* devices.
TAILSCALE_IP=100.107.192.52
VIDEO_DEVICE_0=/dev/video0
VIDEO_DEVICE_1=/dev/video1

# TODO: Add driver-specific config fields here (e.g. device port, IP, etc.)
